*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.advert-container{
    width: 15rem;
    border-radius: 1rem;
    box-shadow: 10px 10px 8px #999;
    display: flex;
    flex: 0 0 calc(25% - 20px);
    flex-direction: column;
    max-width: calc(25% - 20px);
    width: 100%;
    background-color: white;
    margin: 0.5rem;
    margin-bottom: 20px;
    height: fit-content;
    text-align: center;
    cursor: pointer;
}

.advert-container:hover {
    box-shadow: 10px 10px 8px #1b2430;
}

.advert-title,
.advert-image {
    margin: 0.5rem 5%;
    text-align: center;
}

.advert-user {
    margin: 0.5rem 5%;
    text-align: center;
}

.advert-price {
    margin: 0.5rem 5%;
    text-align: center;
    font-size: 1.4rem;
}

.advert-price::before {
        content: '$';
        position: relative;
        top:-0.22rem;
        font-size: 1rem;
}

.advert-btn-edit {
    align-self: flex-end;
    margin: 0.5rem 5%;
    cursor: pointer;
}

.advert-btn-delete {
    align-self: flex-end;
    margin: 0.5rem 5%;
    cursor: pointer;
}

.advert-btn-delete:hover {
    color: rgb(240, 9, 9);
}

.advert-image {
    width: 100px;
    max-width: calc(100% - 20px);
    clip-path: circle();
    margin-left: auto;
    margin-right: auto;
    display: block;
}
