
  .Home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-color: #8ad7ec;
    flex-wrap: wrap;
  }
  
  .container {
    max-width: 1150px;
    width: 100%;
    margin-top: 25px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
  }
  
  section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E6EFF4;
    padding-left: 200px;
  }
  
  .adverts {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .add_adverts_button {
    position: absolute;
    left: 14rem;
    margin-top: 30px;
    background-color: #17CF97;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
  }
  
  .add_adverts_button:hover {
    opacity: 0.7;
  } 

  .sort-title-btn {
    position: absolute;
    right: 90px;
    margin-top: 35px;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
  }

  .sort-price-btn {
    position: absolute;
    right: 83px;
    margin-top: 35px;
    cursor: pointer;
    top: 120px;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
  }

  .sort-price-btn:hover,
  .sort-title-btn:hover {
    color: #17CF97;
  }

  .sort-title {
    margin-right: 10px;
  }

  .sort-price {
    margin-right: 9px;
  }