
  .Home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-color: #8ad7ec;
    flex-wrap: wrap;
  }
  
  .container {
    max-width: 1150px;
    width: 100%;
    margin: auto;
    padding: 0px 20px;
  }
  
  section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E6EFF4;
    padding-left: 150px;
  }
  
  .adverts {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .add_adverts_button {
    position: absolute;
    left: 230px;
    margin-top: 25px;
    background-color: #17CF97;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
  }
  
  .add_adverts_button:hover {
    opacity: 0.7;
  } 