.fa-rotate-180,
.fa-rotate-0 {
    transition: 0.5s;
    padding: 10px 20px;
    cursor: pointer;
}

.fa-disabled {
    padding: 10px 20px;
    cursor: none;
    color: #A4A4A4;
}

table {
    border-collapse: collapse;
    background-color: #ffffff;
    box-sizing: border-box;
}

thead {
    background-color: #1b2430;
    padding: 20px;
    border: 1px solid #A4A4A4;
    color: white;
}

td {
    padding: 0 20px;
    text-align: center;
    min-width: 74px;
}

th {
    width: 190px;
    border-top: 1px solid #ccc9c9;
    padding: 10px 20px;
}

tr {
    width: 190px;
    height: 40px;
    border-top: 0.025rem solid #ccc9c9;
}

tr:hover {
    background-color: #F0F0F0;
    cursor: pointer;
}

.notCLicable-tr {
    width: 190px;
    height: 40px;
    border-top: 0.025rem solid #ccc9c9;
}


.table-container {
    overflow-y: scroll;
    max-height: 600px;
    margin-top: 50px;
    min-width: 200px;
    max-width: 1000px;
    border: 1px solid #1b2430;
}

.advert-tr {
    padding: 10 20px;
}

.advert-tr:hover {
    background-color: #b31a1a;
    cursor: pointer;
}

.advert-tr td {
    background-color: #ffffff;
    min-width: 74px;
}

.delete-advert-btn {
    margin-left: 8px;
}

.delete-advert-btn:hover {
    color: rgb(240, 9, 9);
}

.edit-advert-btn:hover {
    color: rgb(39, 130, 125);
}

.td-button {
    padding: 0px;
}

.td-colspan {
    text-align: left;
}